{% extends 'base.html.twig' %}

{% block title %}Médecins{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Médecins</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
