{% extends 'base.html.twig' %}

{% block title %}Médecins{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 class="display-3">Médecins</h1>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        {% for doctor in doctors %}
            <div class="col">
                <div class="card h-100">
                    <img src="https://placehold.co/300x150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">{{ doctor.name }}</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, cumque cupiditate doloribus facere facilis laboriosam minus molestias quasi voluptatibus! Atque ex fugit inventore ipsa maiores nihil nulla quae quasi quia..</p>
                        <a href="#" class="btn btn-primary">Prendre rendez-vous</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
