{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="display-3">DocteurClic</h1>
                <p class="lead">Rendez-vous médicaux en quelques clics !</p>
                <hr class="my-4">
                <p>Ce service est gratuit. Des frais peuvent s'appliquer en cas de non présentation à un rendez-vous.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Prendre rendez-vous</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
