{% extends 'base.html.twig' %}

{% block title %}Edition d'un patient{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Edition Patient {{ user.name }}</h1>

                {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                <a href="{{ path('app_admin_user_index') }}">retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
